<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>판매자 홈</h3>

    <a th:href="@{/seller/home.do?menu=1}"><button>물품등록</button></a>
    <a th:href="@{/seller/home.do?menu=2}"><button>주문관리</button></a>
    <a th:href="@{/seller/home.do?menu=3}"><button>회원관리</button></a>
    <form th:action="@{/logout.do}" method="post">
        <button type="submit">로그아웃</button>
    </form>
    <hr/>

    <div th:if="{#string.equals(para,.menu, '1')}" >
        <th:block  th:replace="~{/seller/menu}">
    </div>
    <div th:if="{#string.equals(para,.menu, '2')}" >
        <th:block  th:replace="~{/seller/menu}">
    </div>
    <div th:if="{#string.equals(para,.menu, '3')}" >
        <th:block  th:replace="~{/seller/menu}">
    </div>

</body>
</html>